@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Style for our header texts
	* --------------------------------------- */
h1 {
  font-size: 2em;
  color: #fff;
  margin: 0;
}

h2 {
  color: #fff;
}
.intro-withimage {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.intro p {
  color: #fff;
  font-size: 1.2em;
}

.intro-withimage h1,
.intro-withimage p {
  width: 100%;
  margin: 0 0 20px 0;
}

.intro-withimage ul {
  margin-bottom: 20px;
  color: #fff;
}

.intro-withimage ul li {
  margin-bottom: 10px;
  color: #fff;
}

/* Centered texts in each section
  * --------------------------------------- */
.section {
  text-align: center;
}

/* Overwriting styles for control arrows for slides
  * --------------------------------------- */
.controlArrow.prev {
  left: 50px;
}

.controlArrow.next {
  right: 50px;
}

/* Bottom menu
  * --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Slide Colours
  * --------------------------------------- */

.intro-withimage img {
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#slide1f {
  background-color: #00A6ED
}
#slide1f a span {
  color: #00A6ED
}

#slide2 {
  background-color: #bf1d46;
}

#slide2 a span {
  color: #bf1d46;
}

#slide3 {
  background-color: #c2385b;
}

#slide3 a span {
  color: #c2385b;
}

#slide4 {
  background-color: #2b6cb0;
}
#slide4 a span {
  color: #2b6cb0;
}

#slide4a {
  background-color: #545d68;
}
#slide4a a span {
  color: #545d68;
}

#slide4b {
  background-color: #5b5468;
}
#slide4b a span {
  color: #6f6979;
}

#slide4c {
  background-color: #646464;
}
#slide4c a span {
  color: #646464;
}

#slide4d {
  background-color: #646464;
}
#slide4d a span {
  color: #646464;
}

#slide4e {
  background-color:#0c4f75;
}
#slide4e a span {
  color:#0c4f75;
}

#slide-pricing-component {
  background-color: #959595;
}

#slide-pricing-component a span {
  color: #959595;
}

#slide5 {
  background-color: rgb(84, 114, 133);
}

#slide5 a span {
  color: rgb(84, 114, 133);
}

#slide6 {
  background-color: #d69c81;
}

#slide6 a span {
  color: #d69c81;
}

#slide7 {
  background-color: #4c4e61;
}

#slide7 a span {
  color: #4c4e61;
}

#slide8 {
  background-color: #00599e;
}

#slide8 a span {
  color: #00599e;
}

#slide9 {
  background-color: #fec401;
}

#slide9 a span {
  color: #fec401;
}

#slide10 {
  background-color: #30580a;
}

#slide10 a span {
  color: #30580a;
}

#slide11 {
  background-color: #d04e2b;
}

#slide11 a span {
  color: #d04e2b;
}

#slide12 {
  background-color: #fb8c00;
}

#slide12 a span {
  color: #fb8c00;
}

#slide13 {
  background-color: #70297d;
}

#slide13 a span {
  color: #70297d;
}

#slide14 {
  background-color: #19283f;
}

#slide14 a span {
  color: #19283f;
}

#slide15 {
  background-color: #3a2f5d;
}

#slide15 a span {
  color: #3a2f5d;
}

#slide16 {
  background-color: #39929b;
}

#slide16 a span {
  color: #39929b;
}

#slide17 {
  background-color: #a3d453;
}

#slide17 a span {
  color: #a3d453;
}

#slide18 {
  background-color: #d4c0a0;
}

#slide18 a span {
  color: #d4c0a0;
}

#slide19 {
  background-color: #58411e;
}

#slide19 a span {
  color: #58411e;
}

#slide20 {
  background-color: #20292d;
}

#slide20 a span {
  color: #20292d;
}

#slide21 {
  background-color: #ae8f87;
}

#slide21 a span {
  color: #ae8f87;
}

#slide22 {
  background-color: #0b7092;
}

#slide22 a span {
  color: #0b7092;
}

#slide23 {
  background-color: #374353;
}

#slide23 a span {
  color: #374353;
}

#slide24 {
  background-color: #e95351;
}

#slide24 a span {
  color: #e95351;
}

.brand-colour-gt span {
  color: #7dbb3e;
}

.brand-colour-wp span {
  color: #00599e;
}

.brand-colour-wpp span {
  color: #fec401;
}

.text-content {
  max-width: 600px;
  text-align: left;
  padding-left: 70px;
}

.slide a {
  background-color: #fff; /* Green */
  border: none;
  color: #c2385b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  width: 50%;
  margin-top: 30px;
}

a.enlarge {
  background-color: #fff; /* Green */
  border: none;
  color: #c2385b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 0px 5px 5px 0px;
  width: auto;
  margin-top: 0px;
}

.slide a span {
  font-weight: 600;
}

.fa-ul {
  margin-left: 1.5em;
}

.site-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 2.5em;
  z-index: 71;
}

.introduction h1 {
  font-size: 3rem;
  margin: 0.67rem 0rem;
  font-weight: 700;
}

.introduction h2 {
  font-size: 1.5rem;
  margin: 0.83rem 0rem;
  font-weight: 600;
  color: #231f20;
}

.introduction p {
  text-align: left;
  margin: 1rem auto;
  font-weight: 400;
  font-size: 1rem;
  color: #231f20;
}

.grid-container {
  display: grid;
  max-width: 950px;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.intro P {
  width: 90%;
  max-width: 1160px;
}

.skills-wrapper {
  display: flex;
  max-width: 1280px;
  margin: auto;
  flex-flow: row wrap;
}

.skills-wrapper div ul li {
  margin: 1rem;
  color: #231f20;
}

.skills-wrapper div {
  flex: 0 0 30%;
  margin: 1%;
}

.skills-wrapper .fa-li i {
  color: #ef4136;
}

#menu li.active,
#menu li.hover {
  background: #ef4136;
  color: #fff;
}

#menu li:hover {
  background: #ef4136;
}

#menu li:hover a {
  color: #fff;
}

#menu li.active a:hover {
  color: #fff;
}

.more {
  position: absolute;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  bottom:4%;
  color:#231f20;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more :link {
  color:#231f20
}

.more :hover, :visited {
  color:rgb(239, 65, 54)
  
}


.chevron-down {
  width: 2em;
  height: 2em;
  animation: pulse 3500ms;
  animation-delay: 5s;
  animation-iteration-count: 15;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}